 *{
    font-family:century gothic;
} 
body{
    background-color:rgb(24, 20, 43);
    text-align:center;
}
h1{
    color:White;
}

.input{
    width:450px;
    height:50px;
    margin:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:20px;
    padding-right:20px;
    border:none;
    border-radius:10px;
    background-color:white;
    font-size: 18px;
}

.boton-agregar{
width:50px;
height:50px;
margin:5px;
border:none;
border-radius:10px;
background-color:rgb(247, 65, 95);
color:white;
}

.boton-agregar:hover{
    opacity:0.9;
}



.item{
    margin-bottom:10px;
}

.boton-editar{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:5px;
    border:none;
    background:none;
    color:#62d0ff;
    font-size:1.4rem;
    font-family: Montserrat, sans-serif;
}

.boton-remover{
    height:50px;
    width:50px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:5px;
    margin-right:5px;
    border:none;
    border-radius:10px;
    background-color:rgb(247, 65, 95);
    font-size:20px;
}
.item-input{
    height:50px;
    width:350px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:20px;
    padding-right:20px;
    border:solid white 1px;
    border-radius:10px;
    font-size:18px;
    color:white;
    background:none;
    outline:none;
}